.filelist a  {
    text-decoration: none;
}
.fileicon {
    width: 1.5em;
    height: 1.5em;
    margin: 2px;
    display: inline-block;
    vertical-align: middle;
}

.fullwidth {
    width: 100%;
}

.filelist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 0px;
}

.filelist-buttons {
    text-align: center;
}