<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/simple.min.css" />
    <link rel="stylesheet" href="/static/filekid.css" />
  </head>
  <body>
  <header>
    <h1><a href="/">FileKid</a></h1>
    {% block nav %} {% endblock %}
  </header>
  <main>
      {% block body %} {% endblock %}
  </main>
    <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>
