{% extends "basetemplate.html" %} {% block nav %}
<h1>{{ server_path }}/{{ current_path }}</h1>
{% endblock %} {% block body %}

<form
  method="POST"
  action="{{ Urls::Upload.as_ref() }}/{{ server_path }}/{{ parent_path }}"
  enctype="multipart/form-data"
>
  <label name="file_label"></label><input
    aria-labelledby="file_label"
    type="file"
    name="file"
  />
  <input type="submit" value="Upload" />
</form>

<table class="filelist fullwidth">
  {% if !parent_path.is_empty() %}
  <tr>
    <td>
      <a href="{{ Urls::Browse.as_ref() }}/{{server_path}}/{{ parent_path }}">
        <img
          src="{{ Urls::Static.as_ref() }}/folder.svg"
          class="fileicon"
        />..</a>
    </td>
    <td class="filelist-buttons">&nbsp;</td>
  </tr>
  {% else %}
  <tr>
    <td>
      <a href="{{ Urls::Index.as_ref() }}">
        <img
          src="{{ Urls::Static.as_ref() }}/folder.svg"
          class="fileicon"
        />Home</a>
    </td>
    <td class="filelist-buttons">&nbsp;</td>
  </tr>
  {% endif %} {% for entry in entries %}
  <tr>
    <td>
      <a href="{{ entry.url(server_path) }}">
        <img
          src="{{ Urls::Static.as_ref() }}/{{entry.filetype.icon()}}"
          class="fileicon"
        />
        {{ entry.filename }}</a>
    </td>
    <td class="filelist-buttons">
      <a
        class="button"
        href="{{ Urls::Delete.as_ref() }}?server_path={{server_path}}&key={{entry.fullpath}}"
      >
        <img
          src="{{ Urls::Static.as_ref() }}/trash-can-white.svg"
          class="fileicon"
        /></a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
